
@using Watch.Models.DTO;
@{
    ViewBag.Title = "Thống kê & báo cáo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var Count_money = ViewBag.Count_money;
    var quantity_product = ViewBag.quantity_product as List<Watch.Models.DTO.UserDTO>;
    var product_sell = ViewBag.product_sell as List<Watch.Models.DTO.Order_DetailDTO>;
    int dem_1 = 0, dem_2 = 0;
    var money = ViewBag.Money_today;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Thống kê doanh thu
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li class="active">Thống kê doanh thu</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@(money != null ? money.ToString("N0") : "0") đ</h3>
                        <p>Doanh thu hôm nay</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-cc-paypal"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@(Count_money != null ? Count_money.ToString("N0") : "0") đ</h3>
                        <p>Tổng doanh thu</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@ViewBag.Count_sell</h3>
                        <p>Sản phẩm đã bán</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tasks"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <h3>@ViewBag.Count_Order</h3>
                        <p>Tổng đơn hàng</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-8 connectedSortable">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>Thống kê doanh thu theo tháng
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="SaleChart"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>Sản phẩm bán chạy
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="text-center">Tên sản phẩm</th>
                                        <th class="text-center">Số lượng</th>
                                        <th class="text-center">Tổng tiền (đ)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in product_sell)
                                    {
                                        dem_2++;
                                        <tr>
                                            <td class="text-center">@dem_2</td>
                                            <td>@item.Product_Name</td>
                                            <td class="text-center">@item.Quantity</td>
                                            <td class="text-center">@item.Amount.Value.ToString("N0")</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-4 connectedSortable">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-area-chart fa-fw"></i> Doanh thu theo danh mục sản phẩm
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="CateChart">
                        </div>
                        <!-- /.list-group -->
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Báo cáo hàng ngày
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> Đánh giá sản phẩm mới
                                <span class="pull-right text-muted small">
                                    <em>@ViewBag.Review_today đánh giá</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-bars fa-fw"></i> Đơn đặt hôm nay
                                <span class="pull-right text-muted small">
                                    <em>@ViewBag.Order_today đơn hàng</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-users fa-fw"></i> Tổng đơn hàng
                                <span class="pull-right text-muted small">
                                    <em>@ViewBag.Count_Order đơn hàng</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-table fa-fw"></i> Đơn hàng đã thanh toán
                                <span class="pull-right text-muted small">
                                    <em>@ViewBag.Order_Payment đơn hàng</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-inbox fa-fw"></i>  Đơn hàng đang giao
                                <span class="pull-right text-muted small">
                                    <em>@ViewBag.Ordering đơn hàng</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-close fa-fw"></i> Đơn hàng đã hủy
                                <span class="pull-right text-muted small">
                                    <em>@ViewBag.Order_Cancer đơn hàng</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-close fa-fw"></i> Đơn hàng đã từ chối
                                <span class="pull-right text-muted small">
                                    <em>@ViewBag.Order_refuse đơn hàng</em>
                                </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                    </div>
                    <!-- /.panel-body -->
                </div>

            </section><!-- right col -->
        </div><!-- /.row (main row) -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section jsSection{

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Admin/Home/TotalSaleMonth',
                data: {},
                contentType: "application/json;charset=utf-8",
                dataType: 'json',
                success: function (res) {
                    successFunc(res);
                },
                error: function (errormessage) {
                    alert("error");
                }
            });

            $.ajax({
                type: 'GET',
                url: '/Admin/Home/CateSale',
                data: {},
                contentType: "application/json;charset=utf-8",
                dataType: 'json',
                success: function (res) {
                    getCategory(res);
                    // console.log(res);
                },
                error: function (errormessage) {
                    alert("error");
                }
            });


        });

        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
        }

        function successFunc(jsondata) {

            var month = ['x'];
            var Total = ['total'];

            jsondata.forEach(function (e) {
                //e.total = formatNumber(e.total);
                Total.push(e.tong);
                month.push("Tháng " + e.thang);
            })
            var chart = c3.generate({
                bindto: '#SaleChart',
                data: {
                    x: 'x',
                    columns: [
                        month,
                        Total
                    ],
                    type: 'bar',
                },
                axis: {
                    x: {
                        type: 'category', // this needed to load string x value
                        label: {
                            position: 'outer-center'
                        }

                    },
                    y: {
                        tick: {
                            format: d3.format(",")
                        }
                    }
                },
                color: {
                    Total: '#ff0000'
                },
                labels: true
            });

            chart.data.names(
                {
                    total: 'Biểu đồ doanh thu theo từng tháng bán hàng (VNĐ)'
                });
        }

        function getCategory(jsondata) {

            var category = [];

            // console.log(jsondata.lstCate);
            $.each(jsondata, function (i, item) {
                // console.log(item.Name);
                // console.log(item.View);
                category[i] = new Array(item.CategoryName, item.tong);
                // view.push(item.View);
            });


            var chart = c3.generate({
                bindto: '#CateChart',
                data: {
                    columns: category,
                    type: 'pie',
                }
            });
        }


    </script>

}


